:root {
    --letters-color: #f0f8ff;
    --header-color: linear-gradient(#000000, #262324);
    --footer-color: linear-gradient(#262324, #730202);
    --menu-color: linear-gradient( #262324, #8E7976, #262324);
    --bg-color: #262324;
    --formInput-color: #730202;
    --green-color: #19c73f;
    --orange-color: #c78c19;
    --black-color: #000000;
}

body {
    font-family: 'Source Serif Pro', serif;
    background: var(--bg-color);
    width: 100%
}


header {
    background: var(--header-color);
    padding: 2.5% 0;
    width: 100%;
}

.caixa { 
    width: 100%;
    position: relative;
    margin: 1.2em auto;
}


.logo {
    display: inline;
    width: 10%;
    float: left;
    padding: 0 0 0 2%;
}

.titulo-cabecalho {
    color: var(--letters-color);
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0 0 0 ;
    font-size: 30px;
    margin-right: 5%;
}


footer {
    text-align: center;
    padding: 40px 0;
    background: var(--footer-color);
    color: var(--letters-color);
    width: 100%;
}

footer img {
    width: 150px;
}

.copyright {
    color: var(--letters-color);
    font-size: 13px;
    margin: 20px 0 0;

}

/* CONFIGURAÇÃO DE CONTEUDO */
.container{
    width: 100%;
    display: inline-block;
}

.container h1 {
    text-align: center;
    color: var(--letters-color);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;

}
/* MENU LATERAL */

nav {
    width: 250px;
    height: 100vh;
    vertical-align: top;
    float: left;
    padding-top: 1em;
    background: var(--menu-color);
}

nav li {
    margin: 0 0 15px;
    text-align: center;
}

nav a {
    text-transform: uppercase;
    color: var(--letters-color);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: var(--green-color);
    text-decoration: underline;
}